.App {
  text-align: center;
}

.Footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: darkslategrey;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.icon:hover {
  transform: scale(1.5);
}

.chart {
  padding-top: 30px;
}

.countriesPage {
  margin-top: 20px;
}
